@import './sidebar';

// The wrapper container
.wrapper-container {
  margin-left: $sidebar-width;
  padding: ($spacer * 1.35) ($spacer * 1.5) ($spacer * 3);

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
}

// The navbar
.navbar {
  margin-left: $sidebar-width;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
}
